@import 'swiper/css';
@import 'swiper/css/pagination';
@import './marquee.css';
@import './sliderImage.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bs-color-green: rgb(99, 217, 182);
  --bs-color-blue: rgb(36, 112, 169);
  --bs-color-gray: rgb(245, 245, 245);
  --bs-color-text: rgb(33, 37, 41);
}

* {
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  img {
    max-width: initial;
  }

  a {
    @apply decoration-1;
  }
}

@layer components {
  .bs-container {
    @apply container mx-auto px-[15px];
  }

  .ul-disk ul {
    @apply list-disc pl-6;
  }

  .slider-with-image-shadow {
    box-shadow: 0 3px 35px rgb(0 0 0 / 0.2);
  }

  .slider-shadow {
    box-shadow: 0 0 15px rgb(0 0 0 / 0.6);
  }

  .navigation-card-shadow {
    box-shadow: 0 0 5px rgb(0 0 0 / 0.2);
  }
}
